@font-face {
  font-family: "Mitera";
  src: url("fonts/25\ Mitera/Mitera Regular.otf");
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #fdfdfd;
  background-color: #0f0f0f;
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-family: "Mitera";
  text-transform: uppercase;
  z-index: 10000;
  font-size: 4vw;
}

.content__img {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (min-width: 50em) {
  body {
    overflow: hidden;
  }

  .content {
    height: 100vh;
    overflow: hidden;
  }
}

.centered-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46%;
  z-index: 10000;
}

.centered-link a {
  text-decoration: none;
  /* text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px; */
  color: #f1f1f1;
  font-family: "Mitera";
  font-size: 1em;
}


button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered-link {
  margin-top: 16px; /* Ajustez la marge selon vos besoins */
}
