* {
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 75vw;
  height: 50rem;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 75vw;
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
}

li:nth-child(1) {
  background: url("./images/img1.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(2) {
  background: url("./images/img2.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(3) {
  background: url("./images/img3.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(4) {
  background: url("./images/img4.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(5) {
  background: url("./images/img5.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(6) {
  background: url("./images/img6.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(7) {
  background: url("./images/img7.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(8) {
  background: url("./images/img8.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(9) {
  background: url("./images/img9.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(10) {
  background: url("./images/img10.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(11) {
  background: url("./images/img11.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(12) {
  background: url("./images/img12.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(13) {
  background: url("./images/img13.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(14) {
  background: url("./images/img14.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(15) {
  background: url("./images/img15.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(16) {
  background: url("./images/16.avif") no-repeat 50% 50%;
  background-size: cover;
}
li:nth-child(17) {
  background: url("./images/img17.avif") no-repeat 50% 50%;
  background-size: cover;
}

.scroll-text {
  position: fixed;
  text-align: start;
  padding: 10px;
  margin-left: 50px;
  color: white;
  font-size: 8px;
  font-weight: bold;
  font-family: "Mitera";
  text-transform: uppercase;
  margin-top: 50px;
}

@font-face {
  font-family: "Mitera";
  src: url("fonts/25\ Mitera/Mitera Regular.otf");
}
