* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0f0f0f;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 1000px;
  margin: 0 auto 2em auto;
  padding: 1em 0.5em;
  display: flex;
  justify-content: center;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 20px;
  height: 400px;
  margin: 0 5px;
  background: #000;
  overflow: hidden;
  transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item img {
  width: 400px;
  height: 100%;
  object-fit: contain;
  transform: scale(2);
}

.centered-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46%;
}

.centered-link a {
  text-decoration: none;
  /* text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px; */
  color: #f1f1f1;
  font-family: "Mitera";
  font-size: 1em;
}

@font-face {
  font-family: "Brier";
  src: url("fonts/7\ Brier/Brier-Regular.otf");
}

@font-face {
  font-family: "Mitera";
  src: url("fonts/25\ Mitera/Mitera Regular.otf");
}

button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
